body{
  background: url(../img/Fondo-desenf.jpg);
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  width: 95%;
  margin: auto;
}

.encabezado{
  background-color: rgba(81, 203, 160,0.2);
}

.nav-wrapper{
  background-color: rgb(81, 203, 160);
  font-family: 'Acme', sans-serif;
  text-shadow:2px 2px grey;
}

.logo{
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 10px;
  width: 150px;
}

.galeria{
padding-bottom: 2%;
}

.nota{
  background-color: rgba(255,255,255,0.8);
  padding: 2%;
}

.autor{
  margin: 5px;
}

.comentario{
  padding: 3%;
  color: white !important;
  background-color:rgba(81, 203, 160,0.8);
  font-family: 'Pacifico', cursive;
}

.icono-lateral{
  margin: 30%;
}

.articulo{
  width: 40%;
  float: left;
  margin-right: 10px;
}

.sombra{
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1,h3,h4{
  color: black;
  text-shadow:2px 2px rgb(206, 206, 206);
  font-family: 'Pacifico', cursive;
}

p{
  font-family: 'Acme', sans-serif;
  font-size: 1.1rem;
}

@media (max-width:600px){
  .articulo{
    width: 100%;  
    margin-bottom: 10px;
  }

  nav{
    background-color: rgb(81, 203, 160);
    visibility: hidden;
  } 
}