body{
  background: url(../img/Fondo1.jpg);
  background-color: black;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  
  /*font-family: 'Merienda', cursive;
  
  text-shadow:1px 1px whitesmoke;*/
}

.encabezado{
  background-color: rgba(81, 203, 160, 0.8);
  height: 180px;
  padding-top: 1%;
  padding-bottom: 1%;
}

div{
  border: solid;
}

img{
  width: 95%;
  padding: 2%;
}